/* navigasi */
.fix {
  overflow: hidden;
  position: fixed;
  background-color: #3570d6;

  top: 0;
  width: 100%;

  z-index: 100;
}

.fix a {
  float: left;
  display: block;
  background-color: #3570d6;
}

.fix a:hover {
  background-color: #3570d6;
}

.navbar {
  background-color: #3570d6;
}

#lapak-telu {
  color: white;
  font-family: sans-serif;
}

#search {
  width: 350px;
}

#upload {
  color: white;
  text-decoration: none;
}

#upload {
  padding-inline: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

#masuk {
  padding-inline: 30px;
  color: #3570d6;
  font-family: sans-serif;
  font-weight: bold;
}

.lihat-semua {
  font-size: 24px;
  text-decoration: none;
}
